@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&family=Great+Vibes&family=Merriweather:wght@300&family=Open+Sans:wght@700&family=Quicksand:wght@300;400;700&family=Roboto:wght@500&display=swap");
.navbar {
  display: flex;
  justify-content: space-between;
  padding-top: 16px;
  align-items: center;
  font-family: Arial;
}
.navbar .nav-links *:hover {
  cursor: pointer;
}
.navbar .nav-links a {
  display: inline-block;
}
.navbar .nav-links a:not(:last-child) {
  margin-right: 30px;
}
.navbar .nav-links img {
  width: 15px;
}
.navbar .nav-links img:hover {
  opacity: 0.5;
}

@media screen and (max-width: 700px) {
  .navbar {
    display: none;
  }
}
.showcase {
  padding-top: 150px;
}
.showcase .wrapper {
  display: flex;
  flex-wrap: wrap;
}
.showcase .social-links {
  margin-top: 50px;
  margin-right: 120px;
}
.showcase .social-links a {
  display: block;
  transition: opacity 0.2s;
}
.showcase .social-links img:hover {
  opacity: 0.7;
}
.showcase .social-links a:not(:last-child) {
  margin-bottom: 40px;
}
.showcase .social-links img {
  width: 20px;
}
.showcase-main {
  display: flex;
  flex: 1;
  justify-content: space-between;
}
.showcase-main .main-text {
  flex: 0.7;
  margin-left: 50px;
  max-width: 550px;
}
.showcase-main .main-text h1 {
  font-size: 3.3em;
  margin: 0;
  text-align: left;
}
.showcase-main .main-text small {
  font-size: 1.8em;
  display: block;
  margin: 18px 0;
  text-align: left;
}
.showcase-main .main-text p {
  margin-left: 0;
  line-height: 1.4em;
  margin-top: 40px;
  margin-bottom: 30px;
}
.showcase-main .main-text .contact-btn {
  border: none;
  outline: none;
  transition: background-color 0.3s;
  border-radius: 50px;
  font-family: Quicksand;
  background-color: #7e5af9;
  color: #fff;
  background-color: #7e5af9;
  color: #fff;
  font-size: 1.6em;
  padding: 19px 23px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
}
.showcase-main .main-text .contact-btn:hover {
  background-color: #5829f7;
}
.showcase-main .main-text .contact-btn img {
  display: inline-block;
  width: 35px;
  margin-left: 14px;
  transform: rotate(-25deg);
  margin-top: -15px;
}
.showcase-main .main-photo {
  flex: 0.3;
  display: flex;
  align-items: center;
}
.showcase-main .main-photo img {
  width: 270px;
}
.showcase .scroll-icon {
  margin-top: 100px;
  margin-left: 180px;
  display: flex;
  align-items: center;
}
.showcase .scroll-icon:hover {
  cursor: pointer;
}
.showcase .scroll-icon img.down-arrow-icon {
  width: 14px;
  animation: animateUp 1s infinite;
  animation-direction: alternate;
}
.showcase .scroll-icon img:first-child {
  width: 20px;
}
.showcase .scroll-icon div {
  margin: 0 7px;
}

@media screen and (max-width: 1200px) {
  .showcase .main-photo img {
    width: 100%;
  }
  .showcase .scroll-icon {
    margin-left: 60px;
  }
}
@media screen and (max-width: 1050px) {
  .showcase {
    margin-top: 0;
    padding-top: 12%;
    margin-bottom: 0;
  }
  .showcase .social-links {
    margin-right: 0px;
  }
  .showcase .main-text {
    margin-top: 50px;
  }
  .showcase .main-text h1 {
    font-size: 2.8em;
  }
  .showcase .main-text p {
    font-size: 20px;
    margin-top: 10px;
  }
  .showcase .main-text .contact-btn {
    font-size: 1.3em;
    width: 180px;
  }
  .showcase .main-photo {
    width: 100%;
  }
  .showcase .main-photo img {
    width: 200px;
    display: block;
    margin: auto;
  }
}
@media screen and (max-width: 700px) {
  .showcase-main {
    flex-direction: column-reverse;
  }
  .showcase .main-text {
    margin-left: -20px;
  }
  .showcase .main-text h1 {
    font-size: 2.8em;
  }
  .showcase .main-text small {
    font-size: 1.8em;
  }
  .showcase .scroll-icon {
    margin-top: 50px;
    margin-left: 0;
  }
}
@keyframes animateUp {
  from {
    transform: translateY(-2px);
  }
  to {
    transform: translateY(2px);
  }
}
.about-me-main {
  display: flex;
  justify-content: space-around;
}
.about-me-main .photo {
  flex: 0.4;
  text-align: center;
}
.about-me-main .photo img {
  width: 100%;
  max-width: 300px;
  border-radius: 40%;
  display: block;
}
.about-me-main .primary-text {
  flex: 0.4;
  margin-top: 50px;
}
.about-me-main .primary-text p {
  margin: 0;
}
.about-me-main .primary-text .download-cv-btn {
  border: none;
  outline: none;
  transition: background-color 0.3s;
  border-radius: 50px;
  font-family: Quicksand;
  background-color: #7e5af9;
  color: #fff;
  font-size: 1em;
  padding: 12px 24px;
  margin-top: 50px;
}
.about-me-main .primary-text .download-cv-btn:hover {
  background-color: #5829f7;
}
.about-me-main .primary-text .download-cv-btn img {
  width: 20px;
}
.about-me-main .primary-text .count {
  display: flex;
  margin-top: 40px;
}
.about-me-main .primary-text .count div {
  width: 150px;
  text-align: center;
}
.about-me-main .primary-text .count div h2 {
  font-family: "Open Sans";
}
.about-me-main .primary-text .count div:first-child {
  margin-right: 50px;
}

@media screen and (max-width: 700px) {
  .about-me-main {
    margin-top: 40px;
    display: block;
  }
  .about-me-main .photo {
    width: 200px;
    margin: auto;
  }
  .about-me-main .primary-text {
    flex: 0.5;
    margin-top: 20px;
    text-align: center;
  }
  .about-me-main .primary-text .count {
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .about-me-main .primary-text .download-cv-btn img {
    width: 15px;
  }
}
.skills .wrapper {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
.skills .wrapper.text-white .box div h1 {
  color: #fff;
}
.skills .wrapper .box div {
  padding: 35px 0;
  width: 210px;
  text-align: center;
  border-radius: 30px;
  box-shadow: 0px 0px 30px 10px rgba(210, 209, 209, 0.31);
  transition: transform 0.2s;
  cursor: pointer;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
.skills .wrapper .box div img {
  width: 80px;
}
.skills .wrapper .box div h1 {
  margin: 0px;
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: "Roboto";
  font-size: 1.7em;
  letter-spacing: 2px;
  color: #333;
}
.skills .wrapper .box div p {
  margin: 0;
  font-family: "Great Vibes";
  color: #95989a;
  font-size: 1.5em;
}
.skills .wrapper .box div:hover {
  transform: scale(1.1);
}
.skills .wrapper .box-1 {
  grid-column: 3/5;
  margin-bottom: 40px;
}
.skills .wrapper .box-2 {
  grid-column: 6/8;
}
.skills .wrapper .box-3 {
  grid-column: 9/11;
}
.skills .wrapper .box-4 {
  grid-row: 2;
  grid-column: 5/8;
}
.skills .wrapper .box-5 {
  grid-row: 2;
  grid-column: 8/10;
  margin-left: 0px;
}

@media screen and (max-width: 1200px) {
  .wrapper .box-1 {
    grid-column: 1/4 !important;
  }
  .wrapper .box-2 {
    grid-column: 5/8 !important;
  }
  .wrapper .box-4 {
    grid-column: 4/7 !important;
  }
}
@media screen and (max-width: 850px) {
  .wrapper .box-1 {
    grid-column: 2/6 !important;
  }
  .wrapper .box-2 {
    grid-column: 8/12 !important;
  }
  .wrapper .box-3 {
    grid-row: 2;
    grid-column: 2/6 !important;
    margin-bottom: 30px;
  }
  .wrapper .box-4 {
    grid-row: 2 !important;
    grid-column: 8/12 !important;
  }
  .wrapper .box-5 {
    grid-row: 3 !important;
    grid-column: 5/8 !important;
  }
}
@media screen and (max-width: 600px) {
  .wrapper .box div {
    max-width: 160px;
    height: 160px;
    padding: 30px 0 !important;
  }
  .wrapper .box div h1 {
    font-size: 1.3em !important;
  }
  .wrapper .box div img {
    width: 80px !important;
  }
  .wrapper .box-1, .wrapper .box-3 {
    grid-column: 1/5 !important;
    margin-left: -10px;
  }
  .wrapper .box-2, .wrapper .box-4 {
    grid-column: 7/13 !important;
    margin-left: 10px !important;
  }
  .wrapper .box-5 {
    grid-column: 4/7 !important;
  }
}
.mobilenavbar {
  position: fixed;
  width: 100%;
  left: 0px;
  bottom: -3px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: 17px 30px;
  background-color: #fff;
  z-index: 100;
  box-shadow: 0px 0px 20px 5px rgba(163, 163, 163, 0.3);
  transition: background-color 1s;
}
.mobilenavbar.text-white {
  background-color: #333;
}
.mobilenavbar div {
  display: flex;
  align-items: center;
}
.mobilenavbar div img {
  display: block;
  height: 18px;
  margin: 0 12px;
  cursor: pointer;
}
.mobilenavbar div img:hover {
  opacity: 0.8;
}
.mobilenavbar .name {
  font-family: "Great Vibes";
}

.mobilenavbar-links {
  position: fixed;
  z-index: 200;
  background-color: #fff;
  width: 100%;
  bottom: -5px;
  left: 0;
  box-shadow: 0px 0px 20px 5px rgba(163, 163, 163, 0.3);
  padding: 30px;
  box-sizing: border-box;
  transition: bottom 1s ease-out;
}
.mobilenavbar-links.hide {
  bottom: -100%;
}
.mobilenavbar-links .wrapper {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  flex-wrap: wrap;
  justify-content: space-around;
}
.mobilenavbar-links .wrapper img {
  width: 30px;
  display: block;
  margin: auto;
}
.mobilenavbar-links .wrapper a {
  display: block;
  flex-basis: 33% !important;
  margin: 16px 0;
}
.mobilenavbar-links .close {
  margin-top: 10px;
  text-align: right;
}
.mobilenavbar-links .close img {
  width: 20px;
}
.mobilenavbar-links .close img:hover {
  cursor: pointer;
}

@media screen and (min-width: 800px) {
  .mobilenavbar {
    display: none;
  }
}
.services .wrapper {
  display: flex;
  justify-content: space-around;
  max-width: 900px;
  margin: 3em auto;
}
.services .wrapper .box {
  width: 270px;
  border-radius: 20px;
  box-shadow: 0px 0px 30px 10px rgba(210, 209, 209, 0.31);
  transition: transform 0.5s, box-shadow 0.5s;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
.services .wrapper .box img {
  width: 100%;
  border-radius: 20px 20px 0 0;
}
.services .wrapper .box h1, .services .wrapper .box p {
  margin-left: 30px;
}
.services .wrapper .box h1 {
  color: #7c7c7c;
  font-size: 1.7em;
}
.services .wrapper .box p {
  color: #a8a8a9;
  padding-bottom: 30px;
  display: flex;
  align-items: center;
}
.services .wrapper .box p img {
  width: 15px;
  margin-left: 12px;
  transition: margin-left 0.3s;
}
.services .wrapper .box:hover {
  cursor: pointer;
  transform: translateY(-10px);
  box-shadow: 0px 5px 30px 10px rgba(210, 209, 209, 0.5);
}
.services .wrapper .box:hover p img {
  margin-left: 16px;
}

@media screen and (max-width: 800px) {
  .services .wrapper {
    flex-direction: column;
    align-items: center;
  }
  .services .wrapper .box {
    max-width: 250px;
    margin-bottom: 40px;
  }
}
.portfolio .sub-header {
  margin-bottom: 50px;
}

.project-slide {
  width: 600px !important;
  background-color: #fff;
  display: flex;
  padding: 2em;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.project-slide img {
  display: block;
  width: 50px;
  flex: 0.3;
  margin-right: 20px;
}
.project-slide div {
  flex: 0.6;
}
.project-slide div .button {
  border: none;
  outline: none;
  transition: background-color 0.3s;
  border-radius: 50px;
  font-family: Quicksand;
  background-color: #7e5af9;
  color: #fff;
  display: block;
  width: 100px;
  padding: 12px 8px;
  text-align: center;
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 50px;
}
.project-slide div .button:hover {
  background-color: #5829f7;
}
.project-slide div h2 {
  color: #333;
  font-family: "Open Sans";
}
.project-slide div p {
  font-family: "Eb Garamond";
  font-size: 1.5em;
  color: #95989a;
}

.slider-left i, .slider-right i {
  color: #333;
}

.portfolio.text-white .slider-left i, .portfolio.text-white .slider-right i {
  color: #fff;
}

@media screen and (max-width: 800px) {
  .portfolio .sub-header {
    margin-bottom: 80px;
  }
  .portfolio .react-3d-carousel {
    box-sizing: border-box;
    padding: 100px;
    height: 10px !important;
    transform: scale(1.2);
  }
  .portfolio .react-3d-carousel img {
    transform: scale(1.2);
  }
  .project-slide {
    flex-direction: column;
    padding: 1.5em;
    overflow: hidden;
  }
  .project-slide img {
    width: 80px;
    margin-bottom: 10px;
    display: block;
    margin: auto;
  }
  .project-slide div h2 {
    font-size: 1.2em;
  }
  .project-slide div p {
    font-size: 15px;
  }
  .project-slide div .button {
    font-size: 12px;
    margin-bottom: 0;
  }
}
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: Arial, Helvetica, sans-serif;
}

.App {
  padding: 0 10%;
  transition: background-color 1s, color 1s;
  padding-bottom: 1000px;
}

.App.text-white {
  background-color: #000;
}

a {
  text-decoration: none;
  color: #444;
}

.text-white a {
  text-decoration: none;
  color: #fff;
}

.text-white {
  color: #fff;
}

* {
  -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar {
  display: none;
}

.header {
  font-family: "Open Sans";
  font-size: 2.5em;
  margin-top: 150px;
  margin-bottom: 10px;
  text-align: center;
}

.sub-header {
  font-family: "Eb Garamond";
  font-size: 1.7em;
  text-align: center;
  display: block;
  color: #95989a;
}

.primary-text {
  font-family: "Quicksand";
  color: #444;
  font-size: 1.5em;
}

.text-white .primary-text {
  color: #fff;
}

@media screen and (max-width: 1050px) {
  .header {
    margin-top: 2em;
    font-size: 2em;
  }
  .sub-header {
    font-size: 1.2em;
  }
}
@media screen and (max-width: 700px) {
  .primary-text {
    font-size: 19px;
  }
}

/*# sourceMappingURL=style.css.map */
