.contact {
    padding-bottom: 4em;
    .header {
        margin-top: 0;
    }

    .wrapper {
        margin-top: 100px;
        display: flex;
        .contact-links {
            & > div {
                display: flex;
                align-items: center;
                margin-bottom: 60px;
                h3 {
                    font-family: 'Open Sans';
                    margin: 0;
                    margin-bottom: 10px !important;
                }
                a {
                    color: $primary-light-text-color;
                }
                img {
                    width: 40px;
                    margin-right: 20px;
                }
            }
        }
        
        .input {
            margin-left: 50px;
            flex: 1;
            input, textarea {
                // border: 1px solid red;
                border: none;
                outline: none;
                font-size: 18px;
                font-family: 'Quicksand';
                width: 100%;
                padding: 17px 20px;
                box-sizing: border-box;
                margin-bottom: 12px;
                border-radius: 20px 20px 0 0;
                background-color: #f2edf9e9;
            }

            div {
                display: flex;
                input:first-child {
                    margin-right: 10px;
                }
            }

            button {
                @include button;
                font-size: 1.3em;
                padding: 18px 20px;
                display: flex;
                align-items: center;
                position: relative;
                overflow: hidden;
                img {
                    transition: transform .5s;
                    width: 35px;
                    margin-left: 12px;
                }
                
                &::before {
                    // @include button;
                    transition-duration: 1s;
                    box-sizing: border-box;
                    content: 'Message Sent!';
                    position: absolute;
                    background-color: #09c3b0;
                    bottom: 0px;
                    left: -100%;
                    right: 0;
                    top: 0;
                    padding: 20px 20px;
                    width: 100%;
                    overflow: hidden;
                }
            }

            button.has-successfully-sent {
                img {
                    transform: translate(50px, -50px) scale(1.2);
                }
                &::before {
                    bottom: 0;
                    left: 0;
                    right: 0;
                }
            }
        }

    }
}

@media screen and (max-width: 850px) {
    .contact {
        .wrapper {
            flex-direction: column;

            .input {
                margin-left: 0;
                input, textarea {
                    font-size: 15px;
                }
                button {
                    font-size: 1em;
                    img {
                        width: 25px;
                    }
                }
            }


        }
    }
}