@mixin button {
    border: none;
    outline: none;

    transition: background-color .3s;
    border-radius: 50px;
    font-family: Quicksand;
    background-color: $primary-color;
    color: #fff;
    cursor: pointer;
    &:hover {
        background-color: darken($primary-color, 10%);
    }
}

@mixin user-select-disable {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

