.mobilenavbar {
    position: fixed;
    width: 100%;
    left: 0px;
    bottom: -3px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding: 17px 30px;
    background-color: #fff;
    z-index: 100;
    box-shadow: 0px 0px 20px 5px rgba(163, 163, 163, 0.3);
    transition: background-color 1s, bottom 1s;

    &.text-white {
        background-color: #333;
    }

    div {
        // border: 1px solid red;
        display: flex;
        align-items: center;
        img {
            display: block;
            height: 18px;
            margin: 0 12px;
            cursor: pointer;
            &:hover {
                opacity: .8;
            }
        }
    }

    .name {
        font-family: 'Great Vibes';
    }
}


.mobilenavbar-links {
    position: fixed;
    z-index: 200;
    background-color: #fff;
    width: 100%;
    bottom: -5px;
    left: 0;
    box-shadow: 0px 0px 20px 5px rgba(163, 163, 163, 0.3);
    padding: 30px;
    box-sizing: border-box;
    transition: bottom 1s ease-out;

    &.hide {
        bottom: -100%;
    }
    
    .wrapper {
        display: flex;
        width: 100%;
        // border: 1px solid red;
        box-sizing: border-box;
        flex-wrap: wrap;
        justify-content: space-around;
            
        img {
            width: 30px;
            display: block;
            margin: auto;
        }
        
        a {
            display: block;
            flex-basis: 33% !important;
            margin: 16px 0;
        }
    }

    .close {
        margin-top: 10px;
        text-align: right;
        img {
            // display: block;
            width: 20px;
            &:hover {
                cursor: pointer;
            }
        }
    }
}

@media screen and (min-width: 800px) {
    .mobilenavbar {
        display: none;
    }
}