.navbar {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
    align-items: center;
    font-family: Arial;

    .nav-links {
        *:hover {
            cursor: pointer;
        }

        a {
            color: black;
            display: inline-block;
        }
        
        a:not(:last-child) {
            margin-right: 30px;
        }

        img {
            width: 15px;

            &:hover {
                opacity: .5;
            }
        }
    }
}

@media screen and (max-width: 700px) {
    .navbar {
        display: none;
    }
}