.showcase {
    margin-top: 150px;
    // border: 1px solid blue;
    
    .wrapper {
        display: flex;
        flex-wrap: wrap;
    }

    .social-links {
        // border: 1px solid red;
        margin-top: 50px;
        margin-right: 120px;

        a {
            display: block;
            transition: opacity .2s;
        }

        img:hover {
            opacity: .7;
        }

        a:not(:last-child) {
            margin-bottom: 40px;
        }

        img {
            width: 20px;
        }
        
    }
    &-main {
        display: flex;
        flex: 1;
        justify-content: space-between;

        .main-text {
            flex: .7;
            margin-left: 50px;
            // border: 1px solid green;
            max-width: 550px;
            h1 {
                font-size: 3.3em;
                margin: 0;
                text-align: left;
            }
            
            small {
                font-size: 1.8em;
                display: block;
                margin: 18px 0;
                text-align: left;
            }

            p {
                margin-left: 0;
                line-height: 1.4em;
                margin-top: 40px;
                margin-bottom: 30px;
            }

            .contact-btn {
                @include button;
                background-color: $primary-color;
                color: #fff;
                font-size: 1.6em;
                padding:  19px 23px;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 200px;

                img {
                    display: inline-block;
                    width: 35px;
                    margin-left: 14px;
                    transform: rotate(-25deg);
                    margin-top: -15px;
                }
            }
        }

        .main-photo {
            flex: .3;
            // border: 1px solid blue;
            display: flex;
            align-items: center;
            img {
                width: 270px;
            }
        }
    }

    .scroll-icon {
        margin-top: 100px;
        margin-left: 180px;
        display: flex;
        align-items: center;

        &:hover {
            cursor: pointer;
        }

        img.down-arrow-icon {
            width: 14px;
            animation: animateUp 1s infinite;
            animation-direction: alternate;
        }

        img:first-child {
            // transform: rotate(35deg);
            width: 20px
        }
        div {
            margin: 0 7px;
        }
    }
}

@media screen and (max-width: 1200px) {
    .showcase {
        // border: 1px dotted red;
        .main-text {
        }
        .main-photo {
            img {
                width: 100%;
            }
        }

        .scroll-icon {
            margin-left: 60px;
        }
    }


}

@media screen and (max-width: 1050px) {
    .showcase {
        margin-top: 20%;
        margin-bottom: 0;
    
        .social-links {
            margin-right: 0px;
        }

        .main-text {
            margin-top: 50px;
            h1 {
                font-size: 2.8em;
            }

            p {
                font-size: 20px;
                margin-top: 10px;
            }

            .contact-btn {
                // border: 3px solid green;
                font-size: 1.3em;
                width: 180px;
            }
        }

        .main-photo {
            width: 100%;

            img {
                width: 200px;
                display: block;
                margin: auto;
            }
        }
    }
}

@media screen and (max-width: 700px) {
    .showcase {
        &-main {
            flex-direction: column-reverse;
        }
        .main-text {
            margin-left: -20px;
            h1 {
                font-size: 2.8em;
            }

            small {
                font-size: 1.8em;
            }

        }

        .scroll-icon {
            margin-top: 50px;
            margin-left: 0;
        }
    }
}

@keyframes animateUp {
    from {
        transform: translateY(-2px);
    }

    to {
        transform: translateY(2px);
    }
}